doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='../bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='../styles/asesor.css')
        // link(rel="stylesheet", href="../styles/animate.css")
        link(rel="stylesheet", href="../styles/select2.css")
        link(rel="stylesheet", href="../styles/datetimepicker.css")
        link(rel='icon' href='../assets/favicon.ico')
        
        title= "*111 | " + name
    body.modal-open(data-iduser=iduser)

        
        

        header
            .maincontainer
                    #brand
                        #logo
                            img(src="../assets/logo_exp.png", alt="Logotipo Explora Comunicaciones")
                            #brandname
                                p EXPLORA
                                p COMUNICACIONES
                    
                    #userlogout
                        a(href="/logout") 
                            p#asesorname(data-name=name)= name
                            img(src="../assets/logoff.png", alt="")
                            
        #statusbar
            .maincontainer  
                    #sectionname
                        p ASESOR *111  
                    #secionbuttonnnnn
                        button#btn_nuevoreportesupervisor REPORTE SUPER
                        button#btn_modalchecklist CHECKLIST
                        button#btn_modalreferidos REFERIDOS TMK
                    
        #containersearchbox
             .maincontainer
                #container_buscador       
                    #titulo_buscador BUSCAR REPORTE POR NUMERO O FOLIO
                    input#input_buscador(type='text' placeholder='Número o folio')
                    button#btn_buscador Buscar
                    p#errorbusqueda(style='visibility:hidden') No se encontraron reportes para este número / folio
                        
                    .divider
                    button#btn_nuevoreporte NUEVO REPORTE NOC
                    button#btn_nuevamasiva(onclick="llenar_body_fallamasiva('falla1')" style='visibility: hidden') FALLA MASIVA 1
                    button#btn_nuevamasiva2(onclick="llenar_body_fallamasiva('falla2')" style='visibility: hidden') FALLA MASIVA 2
                    button#btn_nuevamasiva3(onclick="llenar_body_fallamasiva('falla3')" style='visibility: hidden') FALLA MASIVA 3
        
        include asesor_modal_reportesdisponibles
        include asesor_modal_seleccionartiporeporte
        include ./modaldetalles/asesor_modal_detallesdecaptura
        include ./modalformulario/asesor_modal_formularios
        include ./modalfallasmasivas/asesor_modal_fallasmasivas
        include ./modalreportessupervisor/asesor_modal_reportessupervisor
        include modal_checklist
        include modal_referidos
        
       
            
        #overlay-back       
    
    script(src='../jquery/dist/jquery.min.js')
    script(src='../javascripts/datetimepicker.js')
    script(src='../javascripts/socket.io.js')
    script(src='../javascripts/moment.js')
    script(src='../javascripts/asesor_helpers.js')
    script(src='../javascripts/asesor_tablas.js')
    script(src='../javascripts/asesor_validacion.js')
    script(src='../javascripts/asesor_ajax.js')
    script(src='../javascripts/asesor.js')
    script(src='../javascripts/asesor_reportessuper.js')
    script(src='../bootstrap/dist/js/bootstrap.min.js')
    script(src='../javascripts/select2.js')
    script(src='../javascripts/clipboard.min.js')
    
    
    
