#asesor_modal_reportesdisponibles(style='display:none')
    .container_modal
        .header_modal
            span REPORTES EXISTENTES
            span X
        .subheader_modal
            span Número telefónico / folio: 9999000000
        .body_modal
            p REPORTES
            table#table_reportesexistentes
                thead 
                    tr
                        th CREADO
                        th TIPO DE REPORTE
                        th ASESOR
                        th ESTATUS
                tbody#tbody_reportesexistentes
                    tr
                        td prueba campo
                        td prueba campo
                        td prueba campo
                        td prueba campo
                    tr
                        td prueba campo
                        td prueba campo
                        td prueba campo
                        td prueba campo
                    tr
                        td prueba campo
                        td prueba campo
                        td prueba campo
                        td prueba campo
                    tr
                        td prueba campo
                        td prueba campo
                        td prueba campo
                        td prueba campo
                    tr
                        td prueba campo
                        td prueba campo
                        td prueba campo
                        td prueba campo
                