#asesor_modal_reportesdisponibles(style='display:none')
    .container_modal
        .header_modal
            span REPORTES EXISTENTES
            span 
                img.closebuttonn(src="../assets/closebuttonn.png")
        .subheader_modal
            span Número telefónico / folio:  
                span#numeroofolioenmodal 
        .body_modal
            p REPORTES
            table#table_reportesexistentes
                thead 
                    tr
                        th CREADO
                        th ASESOR
                        th TIPO DE REPORTE
                        th ULTIMO SEGUIMIENTO
                        th NOC
                        th FECHA DE CIERRE
                        th ESTATUS
                tbody#tbody_reportesexistentes
                    
                