#modal_referidos.container_modal(style="display: none")
    #header_referidos
        span REFERIDOS A TMK
        span 
            img.closebuttonn.close_referidos(src="../assets/closebuttonn.png")
    #body_referidos
        #subtitle_referidos.aux_referidos
            .well
                p Enviar número a la campaña de Telemarketing para contratar algun servicio.
        #select_referidos.aux_referidos
            label Número
            
        
        #bodycontent_referidos

            input#numero_referido_tmk(type="text" placeholder="9999000000")
            br
            br
            label Estatus en integrador
            br
            span
                
                input.hidethisradios(type="radio" value="verde" name="estatus_integrador")
                img(src="../assets/mano-verde.png") 
            span
                
                input.hidethisradios(type="radio" value="amarillo" name="estatus_integrador")
                img(src="../assets/mano-amarilla.png") 
            span
                
                input.hidethisradios(type="radio" value="rojo" name="estatus_integrador")
                img(src="../assets/mano-roja.png") 
            br
            br
            label Procedencia
            br
            select#procedencia_referido_tmk(placeholder='Procedencia')
                option 
                option(value='*264') *264
                option(value='*111') *111
            br
            br
            label Tipo de trámite
            br
            select#tipotramite_referido_tmk(placeholder='Tipo de trámite')
                option 
                option(value='Línea nueva') Línea nueva
                option(value='Migración') Migración
                option(value='Renovación') Renovación
            br
            br
            textarea#observaciones_referido_tmk(rows="3" placeholder="Observaciones" style="width: 100%; padding: 10px")
            p
                button#btn_sendreferido Enviar
