#asesor_modal_detallesdecaptura(style='display:none')
    .container_modal
        .header_modal
            span DETALLES DE REPORTE
            span X
        .subheader_modal#subheader_modaldetalles
            p FOLIO:
                span 1234
            p TIPO DE REPORTE:
                span Calidad en el servicio/Cobertura
            p ASESOR:
                span Pacheco Jose
            p CREADO:
                span Abril 23, 2019
        .body_modal#body_modaldetallescaptura
            #container_detalle_cobertura
                include body_modal_detallescobertura
        .footer_modal
            p COMENTARIOS DE SEGUIMIENTO
            table.seguimientos_tabla
                thead
                    tr
                        th FECHA
                        th NOC
                        th ESTATUS
                        th OBSERVACIÓN
                tbody
                    tr
                        td 22/04/2019
                        td Coot David
                        td En proceso
                        td En espera de respuesta indica que bla bla bla bl bla bla bla bladasdas opadjoaijsdo ijasodi jadiosj aisdj aijsd oaijo aijo
                    tr
                        td 22/04/2019
                        td Coot David
                        td En proceso
                        td En espera de respuesta
                    tr
                        td 22/04/2019
                        td Coot David
                        td En proceso
                        td En espera de respuesta
                    tr
                        td 22/04/2019
                        td Coot David
                        td En proceso
                        td En espera de respuesta
                    tr
                        td 22/04/2019
                        td Coot David
                        td En proceso
                        td En espera de respuesta
                    tr
                        td 22/04/2019
                        td Coot David
                        td En proceso
                        td En espera de respuesta
                    tr
                        td 22/04/2019
                        td Coot David
                        td En proceso
                        td En espera de respuesta
                    tr
                        td 22/04/2019
                        td Coot David
                        td En proceso
                        td En espera de respuesta
                    tr
                        td 22/04/2019
                        td Coot David
                        td En proceso
                        td En espera de respuesta