.gridsystem_aclaraciones#body_modal_capturaaclaraciones(style='display:none')
    .campodetalle_cobertura.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo 9999000000
    
    .campodetalle_cobertura
        p.titulocampo NOMBRE DEL USUARIO
        input.inputsasesor.inputs_aclaraciones#cobertura_telefono(type="text" placeholder='9999000000')
    
    .campodetalle_cobertura
        p.titulocampo NÚMERO DE CONTACTO
        input.inputsasesor.inputs_aclaraciones#cobertura_telefono(type="text" placeholder='9999000000')
    
    .campodetalle_cobertura
        p.titulocampo FECHA DEL INICIO DE LA FALLA
        input.inputsasesor.inputs_aclaraciones#cobertura_telefono(type="text" placeholder='9999000000')
    
    .campodetalle_cobertura
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        textarea.inputsasesor.inputs_aclaraciones#cobertura_telefono(type="text")
            
