/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: HelveticaNeueST;
  src: url(../assets/HelveticaNeueStandard.otf); }
@font-face {
  font-family: HelveticaNeueBD;
  src: url(../assets/HelveticaNeueBold.otf); }
.xdsoft_datetimepicker {
  z-index: 60000 !important; }

header, #statusbar {
  box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  width: 100%; }

a {
  color: grey; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica;
  min-height: 100%; }

body.modal-open {
  overflow: hidden; }

thead {
  font-weight: bold;
  border-bottom: 1px solid #dddddd; }

.maincontainer {
  min-width: 1200px;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%; }

header, #statusbar {
  position: fixed;
  background-color: #3F4658; }

header {
  height: 40px;
  font-size: 70%;
  z-index: 4; }

.notificationicon {
  height: 18px;
  width: 18px; }

#brand {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: right;
  width: auto; }

#brand > p {
  margin-top: 10px; }

#brandname {
  color: white;
  font-size: 90%;
  margin-left: 10px;
  text-align: left; }

#buttonsection {
  display: flex;
  align-items: center; }

#logo {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center; }

#logo > img {
  height: 30px;
  width: 40px; }

#menu {
  height: 100%;
  width: 150px; }

#menuitems {
  display: flex;
  flex-direction: row;
  font-size: 90%;
  height: inherit;
  align-items: center;
  justify-content: space-around; }

#dashboard, #historico, #historico:hover {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center; }

#dashboard {
  border-bottom: 2px solid #1B99ED; }

#historico {
  border-bottom: 3px solid white; }

#historico:hover {
  border-bottom: 2px solid #1B99ED; }

#userlogout img {
  height: 20px;
  width: 20px;
  margin-left: 5px; }
#userlogout p {
  font-size: 110%; }
#userlogout a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white; }
  #userlogout a:hover {
    color: #CB7171;
    text-decoration: none; }

#sectionnotifications {
  display: flex;
  align-items: center;
  font-size: 80%;
  font-style: bold; }
  #sectionnotifications > img {
    margin-left: 15px; }
  #sectionnotifications > p {
    margin-left: 3px; }
  #sectionnotifications > p:last-child {
    margin-right: 20px; }

#capturanormalmodalbtn {
  margin-left: 10px; }

#statusbar {
  background-color: #4B5367;
  height: 50px;
  z-index: 3;
  top: 40px; }

#sectionname {
  color: white;
  font-size: 80%; }

#containersearchbox {
  min-height: 100%;
  max-width: 100%;
  padding-top: 150px; }
  #containersearchbox .maincontainer {
    justify-content: center; }

#containersearchbox::after {
  content: "";
  background-color: rgba(243, 244, 249, 0.9);
  background-image: url("../assets/bodybg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.23;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

#container_buscador {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#titulo_buscador {
  width: 170px;
  text-align: center;
  font-size: 85%;
  color: #3F4658;
  align-self: center; }

#input_buscador {
  align-self: center;
  border: 1px solid #3F4658;
  border-radius: 15px;
  padding-left: 10px;
  margin-top: 5px;
  width: 300px;
  height: 30px;
  font-size: 85%;
  font-weight: bold;
  color: #4B5367; }

#btn_buscador {
  align-self: center;
  margin-top: 5px;
  border: 1px solid #3F4658;
  border-radius: 5px;
  background-color: white;
  color: #3F4658;
  width: 100px;
  height: 30px; }
  #btn_buscador:hover {
    background-color: #4B5367;
    color: white; }

.divider {
  align-self: center;
  width: 400px;
  margin-top: 15px;
  border: 0;
  height: 1px;
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); }

#btn_nuevoreporte {
  margin-top: 15px;
  align-self: center;
  border: 1px solid #3F4658;
  border-radius: 5px;
  background-color: #3F4658;
  color: white;
  width: 200px;
  height: 40px; }
  #btn_nuevoreporte:hover {
    background-color: #4B5367;
    color: white; }

#overlay-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250%;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 49999;
  display: none; }

.container_modal {
  background-color: #F3F4F9;
  border-radius: 3px;
  box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.75);
  position: fixed;
  overflow-y: auto;
  overflor-x: hidden;
  top: 50%;
  left: 50%;
  width: 900px;
  min-height: 650px;
  max-height: 90vh;
  z-index: 50000;
  transform: translate(-50%, -50%); }

.closebuttonn {
  height: 10px;
  cursor: pointer; }

.header_modal {
  background-color: #BAC3D4;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  font-size: 75%;
  color: #3F4658;
  font-weight: bold; }

.subheader_modal {
  background-color: #E4E8F3;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  font-size: 80%;
  color: #3F4658;
  font-weight: bold; }

.body_modal {
  width: 100%;
  min-height: 100%;
  padding: 20px;
  font-size: 80%;
  color: #3F4658;
  font-weight: bold; }

.body_modal::before {
  content: "";
  background-image: url("../assets/wave.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.body_modal table {
  width: 100%; }
.body_modal p {
  font-size: 90%; }
.body_modal td, .body_modal tr, .body_modal th {
  border: 1px solid #3F4658;
  height: 25px;
  font-size: 95%;
  padding-left: 5px; }
.body_modal tbody tr {
  cursor: pointer; }
.body_modal thead {
  background-color: #3F4658;
  color: #F3F4F9; }

.body_modal#bodymodal_seleccionartiporeporte {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px; }
  .body_modal#bodymodal_seleccionartiporeporte input#input_numerotiporeporte {
    border-radius: 3px;
    border: 1px solid #3F4658;
    font-size: 95%;
    height: 27px;
    padding-left: 5px; }
  .body_modal#bodymodal_seleccionartiporeporte #contenedor_tablaopciones {
    color: black;
    display: grid;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows: 125px 125px 125px;
    margin-top: 25px;
    font-size: 90%; }
  .body_modal#bodymodal_seleccionartiporeporte #mensajeerror_tiporeporte, .body_modal#bodymodal_seleccionartiporeporte #errorbusqueda {
    color: #AD3232;
    margin-top: 15px; }
  .body_modal#bodymodal_seleccionartiporeporte #btn_cancelartiporeporte {
    color: white;
    font-weight: light;
    font-size: 80%;
    height: 30px;
    width: 100px;
    border: 1px solid #AD3232;
    background-color: #AD3232;
    border-radius: 3px;
    margin-top: 10px; }
    .body_modal#bodymodal_seleccionartiporeporte #btn_cancelartiporeporte:hover {
      background-color: #791010; }

.tiporeporte_opcion {
  border: 1px solid #F3F4F9;
  border-radius: 5px;
  background-color: #E4E8F3;
  cursor: pointer;
  height: 125px;
  width: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2px; }
  .tiporeporte_opcion:hover {
    background-color: #DEE1ED; }

.icon_svg_opciones {
  height: 50px;
  -moz-transition: all 0.2s ease; }

.tiporeporte_opcion:hover .icon_svg_opciones {
  height: 70px; }

.successimage, .errorimage {
  margin-left: 3px; }

.has-success > .successimage {
  display: inline !important; }

.has-error > .errorimage {
  display: inline !important; }

.has-error > textarea, .has-error > select, .has-error > input, .has-error .select2-container--default .select2-selection--single, .has-error .select2-container--default .select2-selection--single .select2-selection__rendered, .has-error .select2-container--default .select2-selection--single .select2-selection__placeholder {
  border-color: #DE4C43 !important;
  color: red; }

#subheader_modaldetalles {
  justify-content: space-between;
  height: 80px;
  align-content: center; }

#subheader_modaldetalles_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 70px;
  font-size: 90%;
  justify-content: space-evenly; }

#regresar_modaldetalles {
  display: flex;
  align-items: center;
  border: 1px solid #BAC3D4;
  border-radius: 5px;
  padding: 5px 12px 5px 12px;
  background-color: #F1F2F6;
  color: #3F4658;
  height: 60px; }
  #regresar_modaldetalles img {
    height: 15px;
    margin-right: 5px; }
  #regresar_modaldetalles:hover {
    background-color: #BAC3D4;
    color: #F1F2F6;
    cursor: pointer; }
  #regresar_modaldetalles p {
    margin-top: 5px;
    font-size: 80%; }
    #regresar_modaldetalles p span {
      font-size: 120%; }

#body_modaldetallescaptura {
  height: 320px;
  position: relative; }

#body_modaldetallescaptura::before {
  content: "";
  background-image: url("../assets/wave.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.footer_modal {
  height: 230px;
  background-color: #E4E8F3;
  padding: 15px; }
  .footer_modal p {
    color: #3F4658;
    font-size: 80%;
    font-weight: bold; }
  .footer_modal table {
    width: 100%;
    margin-top: 5px; }
  .footer_modal td, .footer_modal tr, .footer_modal th {
    border: 1px solid #C2CAD9;
    height: 25px;
    font-size: 95%;
    padding-left: 5px;
    width: 50px; }
  .footer_modal tbody {
    font-size: 80%;
    height: 150px;
    overflow-y: auto;
    margin-top: -1px; }
    .footer_modal tbody tr {
      cursor: pointer; }
  .footer_modal thead {
    background-color: #BAC3D4;
    color: #3F4658;
    font-size: 80%; }
  .footer_modal thead, .footer_modal tbody {
    display: block; }
  .footer_modal thead th, .footer_modal tbody td {
    width: 218px; }

.inputsasesor {
  border-radius: 3px;
  border: 1px solid #C2CAD9;
  font-size: 90%;
  height: 27px;
  width: 235px;
  padding-top: 3px;
  padding-left: 3px; }

.btn_cancelarcaptura, .btn_guardarcaptura {
  height: 30px;
  width: 120px;
  color: white;
  border-radius: 3px;
  font-size: 80%;
  margin-left: 10px; }

.btn_cancelarcaptura {
  background-color: #BAC3D4;
  border: 1px solid #BAC3D4; }

.btn_guardarcaptura {
  background-color: #4B5367;
  border: 1px solid #4B5367; }

#body_modalformularios {
  height: 520px;
  position: relative; }

#body_modalformularios::before {
  content: "";
  background-image: url("../assets/wave.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

#footer_modal_capturas {
  height: 60px;
  display: flex;
  justify-content: flex-end; }

.gridsystem_cobertura {
  display: grid;
  grid-template-columns: repeat(3, 278px);
  grid-gap: 20px;
  grid-auto-rows: minmax(15px, auto); }
  .gridsystem_cobertura p.titulocampo {
    font-size: 80%;
    color: #7985A2; }
  .gridsystem_cobertura .valorcampo {
    color: #3F4658; }
  .gridsystem_cobertura .uno {
    grid-column: 1/4; }
  .gridsystem_cobertura .tres {
    grid-column: 2/4; }
  .gridsystem_cobertura .cinco {
    grid-column: 2/4; }
  .gridsystem_cobertura .trece {
    grid-column: 2/4; }

.gridsystem_aclaraciones {
  display: grid;
  grid-template-columns: repeat(3, 278px);
  grid-gap: 20px;
  grid-auto-rows: minmax(15px, auto); }
  .gridsystem_aclaraciones p.titulocampo {
    font-size: 80%;
    color: #7985A2; }
  .gridsystem_aclaraciones .valorcampo {
    color: #3F4658; }
  .gridsystem_aclaraciones .uno {
    grid-column: 1/4; }
  .gridsystem_aclaraciones .tres {
    grid-column: 2/4; }
  .gridsystem_aclaraciones .cinco {
    grid-column: 2/4; }
  .gridsystem_aclaraciones .trece {
    grid-column: 2/4; }

.gridsystem_callback {
  display: grid;
  grid-template-columns: repeat(3, 278px);
  grid-gap: 20px;
  grid-auto-rows: minmax(15px, auto); }
  .gridsystem_callback p.titulocampo {
    font-size: 80%;
    color: #7985A2; }
  .gridsystem_callback .valorcampo {
    color: #3F4658; }
  .gridsystem_callback .uno {
    grid-column: 1/4; }
  .gridsystem_callback .tres {
    grid-column: 2/4; }
  .gridsystem_callback .cinco {
    grid-column: 2/4; }
  .gridsystem_callback .trece {
    grid-column: 2/4; }

.gridsystem_general {
  display: grid;
  grid-template-columns: repeat(3, 278px);
  grid-gap: 20px;
  grid-auto-rows: minmax(15px, auto); }
  .gridsystem_general p.titulocampo {
    font-size: 80%;
    color: #7985A2; }
  .gridsystem_general .valorcampo {
    color: #3F4658; }
  .gridsystem_general .uno {
    grid-column: 1/4; }
  .gridsystem_general .tres {
    grid-column: 2/4; }
  .gridsystem_general .cinco {
    grid-column: 2/4; }
  .gridsystem_general .trece {
    grid-column: 2/4; }

.gridsystem_iccid {
  display: grid;
  grid-template-columns: repeat(3, 278px);
  grid-gap: 20px;
  grid-auto-rows: minmax(15px, auto); }
  .gridsystem_iccid p.titulocampo {
    font-size: 80%;
    color: #7985A2; }
  .gridsystem_iccid .valorcampo {
    color: #3F4658; }
  .gridsystem_iccid .uno {
    grid-column: 1/4; }
  .gridsystem_iccid .tres {
    grid-column: 2/4; }
  .gridsystem_iccid .cinco {
    grid-column: 2/4; }
  .gridsystem_iccid .trece {
    grid-column: 2/4; }

.gridsystem_llamadas {
  display: grid;
  grid-template-columns: repeat(3, 278px);
  grid-gap: 20px;
  grid-auto-rows: minmax(15px, auto); }
  .gridsystem_llamadas p.titulocampo {
    font-size: 80%;
    color: #7985A2; }
  .gridsystem_llamadas .valorcampo {
    color: #3F4658; }
  .gridsystem_llamadas .uno {
    grid-column: 1/4; }
  .gridsystem_llamadas .tres {
    grid-column: 2/4; }
  .gridsystem_llamadas .cinco {
    grid-column: 2/4; }
  .gridsystem_llamadas .trece {
    grid-column: 2/4; }

.gridsystem_navegacion {
  display: grid;
  grid-template-columns: repeat(3, 278px);
  grid-gap: 20px;
  grid-auto-rows: minmax(15px, auto); }
  .gridsystem_navegacion p.titulocampo {
    font-size: 80%;
    color: #7985A2; }
  .gridsystem_navegacion .valorcampo {
    color: #3F4658; }
  .gridsystem_navegacion .uno {
    grid-column: 1/4; }
  .gridsystem_navegacion .tres {
    grid-column: 2/4; }
  .gridsystem_navegacion .cinco {
    grid-column: 2/4; }
  .gridsystem_navegacion .trece {
    grid-column: 2/4; }

.gridsystem_promociones {
  display: grid;
  grid-template-columns: repeat(3, 278px);
  grid-gap: 20px;
  grid-auto-rows: minmax(15px, auto); }
  .gridsystem_promociones p.titulocampo {
    font-size: 80%;
    color: #7985A2; }
  .gridsystem_promociones .valorcampo {
    color: #3F4658; }
  .gridsystem_promociones .uno {
    grid-column: 1/4; }
  .gridsystem_promociones .tres {
    grid-column: 2/4; }
  .gridsystem_promociones .cinco {
    grid-column: 2/4; }
  .gridsystem_promociones .trece {
    grid-column: 2/4; }

.gridsystem_recargas {
  display: grid;
  grid-template-columns: repeat(3, 278px);
  grid-gap: 20px;
  grid-auto-rows: minmax(15px, auto); }
  .gridsystem_recargas p.titulocampo {
    font-size: 80%;
    color: #7985A2; }
  .gridsystem_recargas .valorcampo {
    color: #3F4658; }
  .gridsystem_recargas .uno {
    grid-column: 1/4; }
  .gridsystem_recargas .tres {
    grid-column: 2/4; }
  .gridsystem_recargas .cinco {
    grid-column: 2/4; }
  .gridsystem_recargas .trece {
    grid-column: 2/4; }

.gridsystem_servicios {
  display: grid;
  grid-template-columns: repeat(3, 278px);
  grid-gap: 20px;
  grid-auto-rows: minmax(15px, auto); }
  .gridsystem_servicios p.titulocampo {
    font-size: 80%;
    color: #7985A2; }
  .gridsystem_servicios .valorcampo {
    color: #3F4658; }
  .gridsystem_servicios .uno {
    grid-column: 1/4; }
  .gridsystem_servicios .tres {
    grid-column: 2/4; }
  .gridsystem_servicios .cinco {
    grid-column: 2/4; }
  .gridsystem_servicios .trece {
    grid-column: 2/4; }

#contenedor_tablaopciones {
  position: relative; }
  #contenedor_tablaopciones #loader_seleccion {
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 70000; }
    #contenedor_tablaopciones #loader_seleccion img {
      height: 200px; }

#errorbusqueda {
  color: #AD3232;
  margin-top: 15px;
  align-self: center; }

#tbody_reportesexistentes > tr:hover {
  background-color: #E4E8F3; }

/*# sourceMappingURL=asesor.css.map */
