#asesor_modal_detallesdecaptura(style='display:none')
    .container_modal
        .header_modal
            span DETALLES DE REPORTE
            span 
                img#modaldetalles_noc.closebuttonn(src="../assets/closebuttonn.png")
        .subheader_modal#subheader_modaldetalles
            
            #subheader_modaldetalles_content
                p FOLIO:&nbsp;
                    span#detalles_metadatospanel_folio --
                p TIPO DE REPORTE:&nbsp;
                    span#detalles_metadatospanel_tiporeporte --
                p ASESOR:&nbsp;
                    span#detalles_metadatospanel_asesor --
                p CREADO:&nbsp;
                    span#detalles_metadatospanel_creado --
                
                    
        .body_modal#body_modaldetallescaptura
            #container_detalle_cobertura
                include body_modal_detallesaclaraciones
                include body_modal_detallescallback
                include body_modal_detallescobertura
                include body_modal_detallesgeneral
                include body_modal_detallesiccid
                include body_modal_detallesllamadas
                include body_modal_detallesnavegacion
                include body_modal_detallespromociones
                include body_modal_detallesrecargas
                include body_modal_detallesservicios
        .footer_modal

            p COMENTARIOS DE SEGUIMIENTO
            .footer_modal_container
                
                table.seguimientos_tabla
                    thead
                        tr
                            th FECHA
                            th NOC
                            th ESTATUS
                            th OBSERVACIÓN
                    tbody#tbody_detallescomentariosmodal
                    
                       
                #form_seguimiento
                    

                    select#codificacion_noc
                        option(selected)
                        option(value='Aclaración de saldo.') Aclaración de saldo.
                        option(value='Acreditaciones de terceros.') Acreditaciones de terceros.
                        option(value='Alta/Baja de servicios adicionales.') Alta/Baja de servicios adicionales.
                        option(value='Baja de ícono de buzón de voz.') Baja de ícono de buzón de voz.
                        option(value='Baja de recurrencia paquete sin limite.') Baja de recurrencia paquete sin limite.
                        option(value='Baja de terceros.') Baja de terceros.
                        option(value='Call Back') Call Back
                        option(value='Cambio de esquema de cobro.') Cambio de esquema de cobro.
                        option(value='Cambios de ICCID por portabilidad/ CCS.') Cambios de ICCID por portabilidad/ CCS.
                        option(value='Cambios de ICCID por portabilidad/MDY.') Cambios de ICCID por portabilidad/MDY.
                        option(value='Cambios de ICCID por portabilidad/INFOCOMM.') Cambios de ICCID por portabilidad/INFOCOMM.
                        option(value='Cambios de ICCID por portabilidad/Promotor/DAT.') Cambios de ICCID por portabilidad/Promotor/DAT.
                        option(value='Error con ingresos de recargas/fichas.') Error con ingresos de recargas/fichas.
                        option(value='Error con Mensajes de texto.') Error con Mensajes de texto.
                        option(value='Error de paquetes reversados.') Error de paquetes reversados.
                        option(value='Error en activacion de paquete internet.') Error en activacion de paquete internet.
                        option(value='Error en activacion de paquete sin limite.') Error en activacion de paquete sin limite.
                        option(value='Error en adelanta saldo.') Error en adelanta saldo.
                        option(value='Error en información de asesor campañas externas (Portabilidad,paquete sl, etc.)') Error en información de asesor campañas externas (Portabilidad,paquete sl, etc.)
                        option(value='Error en pasa-tiempo.') Error en pasa-tiempo.
                        option(value='Error en promociones de portabilidad.') Error en promociones de portabilidad.
                        option(value='Error en promociones de temporada.') Error en promociones de temporada.
                        option(value='Falla en conexiones.') Falla en conexiones.
                        option(value='Falla en llamadas entrantes Telcel-Otra compañía.') Falla en llamadas entrantes Telcel-Otra compañía.
                        option(value='Falla en llamadas entrantes Telcel-Telcel.') Falla en llamadas entrantes Telcel-Telcel.
                        option(value='Falla en llamadas salientes telcel-Otra compañía.') Falla en llamadas salientes telcel-Otra compañía.
                        option(value='Falla en llamadas salientes Telcel-Telcel.') Falla en llamadas salientes Telcel-Telcel.
                        option(value='Información faltante.') Información faltante.
                        option(value='Números gratis.') Números gratis.
                        option(value='Paquetes pegados de Datos.') Paquetes pegados de Datos.
                        option(value='Paquetes pegados sin limite.') Paquetes pegados sin limite.
                        option(value='Reporte por calidad en el servicio.') Reporte por calidad en el servicio.
                        option(value='Reporte por cobertura') Reporte por cobertura
                        option(value='Satisfacción del usuario') Satisfacción del usuario

                    select#estatus_seguimiento_nuevo 
                        option(selected)
                        option(value="Nuevo") Nuevo
                        option(value="En proceso") En proceso
                        option(value="Pendiente") Pendiente
                        option(value="Cerrado") Cerrado
                        option(value="Rechazado") Rechazado
                        
                        
                    textarea#comentarios_seguimiento_nuevo(rows="5")
                    button#guardar_seguimiento_nuevo GUARDAR