.gridsystem_aclaraciones.body_modal_detalles#body_modal_detallesaclaraciones(style='display:none')
    .campodetalle_aclaraciones.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#detalle_aclaraciones_telefono --
    
    .campodetalle_aclaraciones.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        p.valorcampo#detalle_aclaraciones_nombreusuario --

    .campodetalle_aclaraciones.class_for_validation
        p.titulocampo NÚMERO DE CONTACTO
        p.valorcampo#detalle_aclaraciones_contacto --

    .campodetalle_aclaraciones.class_for_validation
        p.titulocampo FECHA DEL INICIO DE LA FALLA
        p.valorcampo#detalle_aclaraciones_fechainiciofalla --

    .campodetalle_aclaraciones.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        p.valorcampo#detalle_aclaraciones_descripcionsituacion --
