.gridsystem_internetencasa.body_modal_detalles#body_modal_detallesinternetencasa(style='display:none')
    .campodetalle_internetencasa.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#detalle_internetencasa_telefono --
    
    .campodetalle_internetencasa.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        p.valorcampo#detalle_internetencasa_nombreusuario --

    .campodetalle_internetencasa.class_for_validation.tres
        p.titulocampo NÚMERO DE CONTACTO
        p.valorcampo#detalle_internetencasa_contacto --

    .campodetalle_internetencasa.class_for_validation
        p.titulocampo FECHA DEL INICIO DE LA FALLA
        p.valorcampo#detalle_internetencasa_fecha --

    .campodetalle_internetencasa.class_for_validation
        p.titulocampo ESCENARIO
        p.valorcampo#detalle_internetencasa_escenario --
   
    .campodetalle_internetencasa.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        p.valorcampo#detalle_internetencasa_descripcion --

    .campodetalle_internetencasa.class_for_validation
        p.titulocampo DOMICILIO
        p.valorcampo#detalle_internetencasa_domicilio --