.gridsystem_callback.body_modal_detalles#body_modal_detallescallback(style='display:none')
    .campodetalle_callback.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#detalle_callback_telefono --
    
    .campodetalle_callback.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        p.valorcampo#detalle_callback_nombreusuario --
    

    .campodetalle_callback.class_for_validation
        p.titulocampo NÚMERO DE CONTACTO
        p.valorcampo#detalle_callback_contacto --
    

    .campodetalle_callback.class_for_validation
        p.titulocampo MOTIVO
        p.valorcampo#detalle_callback_motivo --
    

    .campodetalle_callback.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        p.valorcampo#detalle_callback_descripcion --
    
