.gridsystem_cobertura.body_modal_detalles#body_modal_detallescobertura(style='display:none')
    .campodetalle_cobertura.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#detalle_cobertura_telefono --
            
    .campodetalle_cobertura.class_for_validation
        p.titulocampo NÚMERO DE CONTACTO
        p.valorcampo#detalle_cobertura_contacto --
        
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        p.valorcampo#detalle_cobertura_nombreusuario --
        
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo FECHA DE NACIMIENTO
        p.valorcampo#detalle_cobertura_fechanacimiento --
        
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo LUGAR DE NACIMIENTO
        p.valorcampo#detalle_cobertura_lugarnacimiento --

    .campodetalle_cobertura.class_for_validation
        p.titulocampo SERVICIO AFECTADO
        p.valorcampo#detalle_cobertura_servicio --

    .campodetalle_cobertura.class_for_validation
        p.titulocampo TECNOLOGIA
        p.valorcampo#detalle_cobertura_tecnologia --

        
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo ESTADO
        p.valorcampo#detalle_cobertura_estado --
        
            
    .campodetalle_cobertura.class_for_validation
        p.titulocampo MUNICIPIO
        p.valorcampo#detalle_cobertura_municipio --
        
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo COLONIA
        p.valorcampo#detalle_cobertura_colonia --
        
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo CÓDIGO POSTAL
        p.valorcampo#detalle_cobertura_cp --
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo DIRECCIÓN DEL CLIENTE
        p.valorcampo#detalle_cobertura_direccion --
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo DESCRIPCIÓN DE LA ZONA DONDE VIVE
        p.valorcampo#detalle_cobertura_descripcionzona --
        
    .campodetalle_cobertura.class_for_validation
        p.titulocampo MARCA DEL EQUIPO
        p.valorcampo#detalle_cobertura_equipomarca --
    
    .campodetalle_cobertura.class_for_validation.trece
        p.titulocampo MODELO DEL EQUIPO
        p.valorcampo#detalle_cobertura_equipomodelo --
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo FECHA DEL INICIO DE LA FALLA
        p.valorcampo#detalle_cobertura_fechainiciofalla --
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo FALLA
        p.valorcampo#detalle_cobertura_falla --
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        p.valorcampo#detalle_cobertura_descripcion --
        
            
