.gridsystem_callback#body_modal_capturacallback(style='display:none')
    .campodetalle_callback.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#telefono_afectado_callback 9999000000
    
    .campodetalle_callback.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        input.inputsasesor.inputs_callback.tipodato_libreestandar#callback_telefono(type="text" placeholder='Jon Doe')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_callback.class_for_validation
        p.titulocampo NÚMERO DE CONTACTO
        input.inputsasesor.inputs_callback.tipodato_telefono#callback_contacto(type="text" placeholder='9999000000')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_callback.class_for_validation
        p.titulocampo MOTIVO
        select.inputsasesor.inputs_callback.tipodato_select#callback_motivo
            option(disabled selected)
            option(value="Llamada cortada") Llamada cortada
            option(value="Aclaración de saldo historico detllam") Aclaración de saldo historico detllam
            option(value="Pruebas básicas segundo nivel") Pruebas básicas segundo nivel
            option(value="Otro") Otro
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_callback.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        textarea.inputsasesor.inputs_callback.tipodato_librelargo#callback_descripcionsituacion(type="text")
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
