.gridsystem_recargas#body_modal_capturarecargas(style='display:none')
    .campodetalle_recargas.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#telefono_afectado_recargas --
    
    .campodetalle_recargas.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        input.inputsasesor.inputs_recargas.tipodato_libreestandar#recargas_nombreusuario(type="text" placeholder='Jon Doe')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_recargas.class_for_validation
        p.titulocampo MENSAJE DE ERROR
        input.inputsasesor.inputs_recargas.tipodato_libreestandar#recargas_mensajerror(type="text" placeholder='Error xxxx')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_recargas.class_for_validation
        p.titulocampo IMPORTE
        input.inputsasesor.inputs_recargas.tipodato_importe#recargas_importe(type="text" placeholder='2000.00')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_recargas.class_for_validation
        p.titulocampo ESTABLECIMIENTO O MÉTODO DE COMPRA
        input.inputsasesor.inputs_recargas.tipodato_libreestandar#recargas_metodocompra(type="text" placeholder='OXXO / TC')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_recargas.class_for_validation.tres
        p.titulocampo FECHA Y HORA
        input.inputsasesor.inputs_recargas.tipodato_fechayhora.datetimepicker_withtime#recargas_fechayhora(type="text" placeholder='2020-04-22 14:04')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_recargas.class_for_validation
        p.titulocampo ESTABLECIMIENTO O MÉTODO DE COMPRA 2
        input.inputsasesor.inputs_recargas.tipodato_libreestandar#recargas_metodocompra2(type="text" placeholder='OXXO / TC')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_recargas.class_for_validation.tres
        p.titulocampo FECHA Y HORA 2
        input.inputsasesor.inputs_recargas.tipodato_fechayhora.datetimepicker_withtime#recargas_fechayhora2(type="text" placeholder='2020-04-22 14:04')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_recargas.class_for_validation
        p.titulocampo ESTABLECIMIENTO O MÉTODO DE COMPRA 3
        input.inputsasesor.inputs_recargas.tipodato_libreestandar#recargas_metodocompra3(type="text" placeholder='OXXO / TC')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_recargas.class_for_validation.tres
        p.titulocampo FECHA Y HORA 3
        input.inputsasesor.inputs_recargas.tipodato_fechayhora.datetimepicker_withtime#recargas_fechayhora3(type="text" placeholder='2020-04-22 14:04')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_recargas.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        textarea.inputsasesor.inputs_recargas.tipodato_librelargo#recargas_descripcionsituacion(type="text")
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
