.gridsystem_aclaraciones#body_modal_capturaaclaraciones
    .campodetalle_aclaraciones.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#telefono_afectado_aclaraciones 9999000000
    
    .campodetalle_aclaraciones.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        input.inputsasesor.inputs_aclaraciones.tipodato_libreestandar#aclaraciones_telefono(type="text" placeholder='Daenerys Targaryen')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_aclaraciones.class_for_validation
        p.titulocampo NÚMERO DE CONTACTO
        input.inputsasesor.inputs_aclaraciones.tipodato_telefono#aclaraciones_telefono(type="text" placeholder='9999000000')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_aclaraciones.class_for_validation
        p.titulocampo FECHA DEL INICIO DE LA FALLA
        input.inputsasesor.inputs_aclaraciones.tipodato_fecha.datetimepicker_notime#aclaraciones_telefono(type="text" placeholder='9999000000')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_aclaraciones.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        textarea.inputsasesor.inputs_aclaraciones.tipodato_librelargo#aclaraciones_telefono(type="text")
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
