.gridsystem_navegacion#body_modal_capturanavegacion(style='display:none')
    .campodetalle_navegacion.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#telefono_afectado_navegacion 9999000000
    
    .campodetalle_navegacion.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        input.inputsasesor.inputs_navegacion.tipodato_libreestandar#navegacion_nombreusuario(type="text" placeholder='Jon Doe')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_navegacion.class_for_validation.tres
        p.titulocampo NÚMERO DE CONTACTO
        input.inputsasesor.inputs_navegacion.tipodato_telefono#navegacion_contacto(type="text" placeholder='9999000000')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_navegacion.class_for_validation
        p.titulocampo MENSAJE DE ERROR
        input.inputsasesor.inputs_navegacion.tipodato_libreestandar#navegacion_mensajerror(type="text" placeholder='Error xxxx')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_navegacion.class_for_validation
        p.titulocampo PRUEBAS BÁSICAS REALIZADAS
        input.inputsasesor.inputs_navegacion.tipodato_libreestandar#navegacion_pruebasbasicas(type="text" placeholder='Reinicio de equipo')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_navegacion.class_for_validation
        p.titulocampo TIPO DE RED
        select.inputsasesor.inputs_navegacion.tipodato_select#navegacion_tipored
            option(disabled selected)
            option(value="Volte") Volte
            option(value="4.5G") 4.5G
            option(value="4G") 4G
            option(value="3G") 3G
            option(value="2G") 2G
            option(value="Edge") Edge
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_navegacion.class_for_validation
        p.titulocampo FECHA Y HORA DEL INICIO DE LA FALLA
        input.inputsasesor.inputs_navegacion.tipodato_fechayhora.datetimepicker_withtime#navegacion_fechainiciofalla(type="text" placeholder='2020-04-22 22:15')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_navegacion.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        textarea.inputsasesor.inputs_navegacion.tipodato_librelargo#navegacion_descripcionsituacion(type="text")
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
