.gridsystem_cobertura#body_modal_capturacobertura(style='display:none')
    .campodetalle_cobertura.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#telefono_afectado_cobertura 9999000000
            
    .campodetalle_cobertura.class_for_validation
        p.titulocampo NÚMERO DE CONTACTO
        input.inputsasesor.inputs_cobertura.tipodato_telefono#cobertura_contacto(type="text" placeholder='9999000000')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_cobertura.class_for_validation.tres
        p.titulocampo NOMBRE DEL USUARIO
        input.inputsasesor.inputs_cobertura.tipodato_libreestandar#cobertura_nombreusuario(type="text" placeholder='Jon Doe')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo FECHA DE NACIMIENTO
        input.inputsasesor.inputs_cobertura.tipodato_fecha.datetimepicker_notime#cobertura_fechanacimiento(type="text" placeholder='1991-04-22')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_cobertura.class_for_validation.cinco
        p.titulocampo LUGAR DE NACIMIENTO
        input.inputsasesor.inputs_cobertura.tipodato_libreestandar#cobertura_lugarnacimiento(type="text" placeholder='Mérida Yucatán')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_cobertura.class_for_validation(data-tiporeporte="cobertura")
        p.titulocampo ESTADO
        select.inputsasesor.inputs_cobertura.tipodato_select#cobertura_estado.global_select2_estado
            option(disabled selected) SELECCIONAR ESTADO
            option(value='CAMPECHE') CAMPECHE
            option(value='CHIAPAS') CHIAPAS
            option(value='QUINTANA ROO') QUINTANA ROO
            option(value='TABASCO') TABASCO
            option(value='YUCATAN') YUCATAN
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
            
    .campodetalle_cobertura.class_for_validation(data-tiporeporte="cobertura")
        p.titulocampo MUNICIPIO
        select.inputsasesor.inputs_cobertura.tipodato_select#cobertura_municipio.global_select2_municipio
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_cobertura.class_for_validation(data-tiporeporte="cobertura")
        p.titulocampo COLONIA
        select.inputsasesor.inputs_cobertura.tipodato_select#cobertura_colonia.global_select2_colonia
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_cobertura.class_for_validation(data-tiporeporte="cobertura")
        p.titulocampo CÓDIGO POSTAL
        select.inputsasesor.inputs_cobertura.tipodato_select#cobertura_cp.global_select2_cp
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo DIRECCIÓN DEL CLIENTE
        input.inputsasesor.inputs_cobertura.tipodato_libreestandar#cobertura_direccioncliente(type="text" placeholder='27 417 por 54 y 56 Fco de Montejo')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo DESCRIPCIÓN DE LA ZONA DONDE VIVE
        input.inputsasesor.inputs_cobertura.tipodato_libreestandar#cobertura_descripcionzona(type="text" placeholder='A la vuerta de parque x')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo MARCA DEL EQUIPO
        input.inputsasesor.inputs_cobertura.tipodato_libreestandar#cobertura_marcaequipo(type="text" placeholder='apple')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_cobertura.class_for_validation.trece
        p.titulocampo MODELO DEL EQUIPO
        input.inputsasesor.inputs_cobertura.tipodato_libreestandar#cobertura_modeloequipo(type="text" placeholder='iphone xs')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo FECHA DEL INICIO DE LA FALLA
        input.inputsasesor.inputs_cobertura.tipodato_fechayhora.datetimepicker_withtime#cobertura_fechainiciofalla(type="text" placeholder='2020-04-23')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo FALLA
        select.inputsasesor.inputs_cobertura.tipodato_select#cobertura_falla
            option(disabled selected)
            option(value="Cobertura") COBERTURA
            option(value="Calidad en el servicio") CALIDAD EN EL SERVICIO
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
    
    .campodetalle_cobertura.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        textarea.inputsasesor.inputs_cobertura.tipodato_librelargo#cobertura_descripcionsituacion(type="Usuario no recibe señal en su rancho")
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
            
