.gridsystem_promociones#body_modal_capturapromociones(style='display:none')
    .campodetalle_promociones.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#telefono_afectado_promociones --
    
    .campodetalle_promociones.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        input.inputsasesor.inputs_promociones.tipodato_libreestandar#promociones_nombreusuario(type="text" placeholder='Daenerys Targaryen')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_promociones.class_for_validation
        p.titulocampo NÚMERO DE CONTACTO
        input.inputsasesor.inputs_promociones.tipodato_telefono#promociones_contacto(type="text" placeholder='9999000000')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_promociones.class_for_validation
        p.titulocampo PROMOCIÓN ASIGNADA
        input.inputsasesor.inputs_promociones.tipodato_libreestandar#promociones_promocion(type="text" placeholder='xxxx')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_promociones.class_for_validation
        p.titulocampo FECHA DEL INICIO DE LA FALLA
        input.inputsasesor.inputs_promociones.tipodato_fecha.datetimepicker_notime#promociones_fechainiciofalla(type="text" placeholder='2020-04-22')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_promociones.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        textarea.inputsasesor.inputs_promociones.tipodato_librelargo#promociones_descripcionsituacion(type="text")
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
