.gridsystem_general#body_modal_capturageneral(style='display:none')
    .campodetalle_general.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#telefono_afectado_general 9999000000
    
    .campodetalle_general.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        input.inputsasesor.inputs_general.tipodato_libreestandar#general_nombreusuario(type="text" placeholder='Jon Doe')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_general.class_for_validation
        p.titulocampo NÚMERO DE CONTACTO
        input.inputsasesor.inputs_general.tipodato_telefono#general_contacto(type="text" placeholder='9999000000')
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")

    .campodetalle_general.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        textarea.inputsasesor.inputs_general.tipodato_librelargo#general_descripcionsituacion(type="text")
        span.successimage(style='display: none') 
            img(src="../assets/success.png")
        span.errorimage(style='display: none') 
            img(src="../assets/error.png")
