.gridsystem_navegacion.body_modal_detalles#body_modal_detallesnavegacion(style='display:none')
    .campodetalle_navegacion.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#detalle_navegacion_telefono --
    
    .campodetalle_navegacion.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        p.valorcampo#detalle_navegacion_nombreusuario --

    .campodetalle_navegacion.class_for_validation.tres
        p.titulocampo NÚMERO DE CONTACTO
        p.valorcampo#detalle_navegacion_contacto --
    
    .campodetalle_navegacion.class_for_validation
        p.titulocampo MENSAJE DE ERROR
        p.valorcampo#detalle_navegacion_error --

    .campodetalle_navegacion.class_for_validation
        p.titulocampo PRUEBAS BÁSICAS REALIZADAS
        p.valorcampo#detalle_navegacion_pruebasbasicas --

    .campodetalle_navegacion.class_for_validation
        p.titulocampo TIPO DE RED
        p.valorcampo#detalle_navegacion_tipored --

    .campodetalle_navegacion.class_for_validation
        p.titulocampo FECHA Y HORA DEL INICIO DE LA FALLA
        p.valorcampo#detalle_navegacion_fechayhorainiciofalla --

    .campodetalle_navegacion.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        p.valorcampo#detalle_navegacion_descripcion --
