.gridsystem_iccid.body_modal_detalles#body_modal_detallesiccid(style='display:none')
    .campodetalle_iccid.uno
        p.titulocampo NÚMERO PORTADO
        p.valorcampo#detalle_iccid_telefono --
    
    .campodetalle_iccid.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        p.valorcampo#detalle_iccid_nombreusuario --

    .campodetalle_iccid.class_for_validation.tres
        p.titulocampo NÚMERO DE CONTACTO
        p.valorcampo#detalle_iccid_contacto --

    .campodetalle_iccid.class_for_validation
        p.titulocampo ICCID VIRTUAL
        p.valorcampo#detalle_iccid_iccidvirtual --

    .campodetalle_iccid.class_for_validation
        p.titulocampo ICCID FÍSICA
        p.valorcampo#detalle_iccid_iccidfisica --

    .campodetalle_iccid.class_for_validation
        p.titulocampo FUERZA DE VENTA
        p.valorcampo#detalle_iccid_fzaventa --

    .campodetalle_iccid.class_for_validation
        p.titulocampo CAC
        p.valorcampo#detalle_iccid_cac --