.gridsystem_llamadas.body_modal_detalles#body_modal_detallesllamadas(style='display:none')
    .campodetalle_llamadas.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#detalle_llamadas_telefono --
    
    .campodetalle_llamadas.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        p.valorcampo#detalle_llamadas_nombreusuario --

    .campodetalle_llamadas.class_for_validation.tres
        p.titulocampo NÚMERO DE CONTACTO
        p.valorcampo#detalle_llamadas_contacto --

    .campodetalle_llamadas.class_for_validation
        p.titulocampo MENSAJE DE ERROR
        p.valorcampo#detalle_llamadas_error --

    .campodetalle_llamadas.class_for_validation
        p.titulocampo AFECTACIÓN
        p.valorcampo#detalle_llamadas_afectacion --

    .campodetalle_llamadas.class_for_validation
        p.titulocampo TIPO DE RED
        p.valorcampo#detalle_llamadas_tipored --

    .campodetalle_llamadas.class_for_validation
        p.titulocampo NÚMERO ORIGEN O DESTINO 1
        p.valorcampo#detalle_llamadas_destino1 --

    .campodetalle_llamadas.class_for_validation
        p.titulocampo NÚMERO ORIGEN O DESTINO 2
        p.valorcampo#detalle_llamadas_destino2 --

    .campodetalle_llamadas.class_for_validation
        p.titulocampo NÚMERO ORIGEN O DESTINO 3
        p.valorcampo#detalle_llamadas_destino3 --

    .campodetalle_llamadas.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        p.valorcampo#detalle_llamadas_descripcion --
