.gridsystem_servicios.body_modal_detalles#body_modal_detallesservicios(style='display:none')
    .campodetalle_servicios.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#detalle_servicios_telefono --
    
    .campodetalle_servicios.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        p.valorcampo#detalle_servicios_nombreusuario --

    .campodetalle_servicios.class_for_validation.tres
        p.titulocampo NÚMERO DE CONTACTO
        p.valorcampo#detalle_servicios_contacto --

    .campodetalle_servicios.class_for_validation
        p.titulocampo MENSAJE DE ERROR
        p.valorcampo#detalle_servicios_error --

    .campodetalle_servicios.class_for_validation
        p.titulocampo SERVICIO SOLICITADO
        p.valorcampo#detalle_servicios_servicio --
   
    .campodetalle_servicios.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        p.valorcampo#detalle_servicios_descripcion --