.gridsystem_recargas.body_modal_detalles#body_modal_detallesrecargas(style='display:none')
    .campodetalle_recargas.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#detalle_recargas_telefono --
    
    .campodetalle_recargas.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        p.valorcampo#detalle_recargas_nombreusuario --

    .campodetalle_recargas.class_for_validation.tres
        p.titulocampo MENSAJE DE ERROR
        p.valorcampo#detalle_recargas_error --

    .campodetalle_recargas.class_for_validation
        p.titulocampo IMPORTE
        p.valorcampo#detalle_recargas_importe --

    .campodetalle_recargas.class_for_validation
        p.titulocampo LUGAR O MÉTODO DE COMPRA
        p.valorcampo#detalle_recargas_metodocompra --

    .campodetalle_recargas.class_for_validation
        p.titulocampo FECHA Y HORA
        p.valorcampo#detalle_recargas_fechayhora --

    .campodetalle_recargas.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        p.valorcampo#detalle_recargas_descripcion --
