.gridsystem_cobertura
    .campodetalle_cobertura.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo 9999000000
            
    .campodetalle_cobertura
        p.titulocampo NÚMERO DE CONTACTO
        p.valorcampo 9999000000
            
    .campodetalle_cobertura.tres
        p.titulocampo NOMBRE DEL USUARIO
        p.valorcampo 9999000000
            
    .campodetalle_cobertura
        p.titulocampo FECHA DE NACIMIENTO
        p.valorcampo 9999000000
            
    .campodetalle_cobertura.cinco
        p.titulocampo LUGAR DE NACIMIENTO
        p.valorcampo 9999000000
            
    .campodetalle_cobertura
        p.titulocampo ESTADO
        p.valorcampo 9999000000
            
    .campodetalle_cobertura
        p.titulocampo MUNICIPIO
        p.valorcampo 9999000000
            
    .campodetalle_cobertura
        p.titulocampo COLONIA
        p.valorcampo 9999000000
            
    .campodetalle_cobertura
        p.titulocampo CÓDIGO POSTAL
        p.valorcampo 9999000000
            
    .campodetalle_cobertura
        p.titulocampo DIRECCIÓN DEL CLIENTE
        p.valorcampo 9999000000
            
    .campodetalle_cobertura
        p.titulocampo DESCRIPCIÓN DE LA ZONA DONDE VIVE
        p.valorcampo 9999000000
            
    .campodetalle_cobertura
        p.titulocampo MARCA DEL EQUIPO
        p.valorcampo 9999000000
            
    .campodetalle_cobertura.trece
        p.titulocampo MODELO DEL EQUIPO
        p.valorcampo 9999000000
            
    .campodetalle_cobertura
        p.titulocampo FECHA DEL INICIO DE LA FALLA
        p.valorcampo 9999000000
            
    .campodetalle_cobertura
        p.titulocampo FALLA
        p.valorcampo 9999000000
            
    .campodetalle_cobertura
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        p.valorcampo 9999000000
            
