@import "noc"

//oculto las marcas de highcharts
.highcharts-credits
    display: none !important

.highch
    text-align: center
#sectionbuttons
    button
        border: 1px solid #3F4658
        background-color: #454C5F
        margin-left: 5px
        height: 40px
        width: 100px
        border-radius: 3px
        color: white
        font-size: 60%
        &:hover
            background-color: #3F4658
            border: none

.footer_modal
    
    height: 230px
    background-color: #E4E8F3
    padding: 15px
    
    p
        color: #3F4658
        font-size: 80%
        font-weight: bold

    table
        width: 100%
        margin-top: 5px
        
    td,tr,th
        border: 1px solid #C2CAD9
        
        height: 25px
        font-size: 95%
        padding-left: 5px
        width: 50px
    tbody
        tr
            cursor: pointer
        font-size: 80%
        height: 150px   
        overflow-y: auto 
        
        margin-top: -1px
    thead
        background-color: #BAC3D4
        color: #3F4658
        font-size: 80%
        
    thead, tbody
        display: block
    thead th, tbody td
        width: 218px

#dashboard
    height: auto
    border-radius: 5px
    width: 100%
    background-color: #3F4658
    padding: 15px
    margin-bottom: 40px
    p
        color: white
        font-size: 115%
        font-weight: bold
    
    .container_grafica
        background-color: #4B5367
        border-radius: 3px
        min-height: 25px
        margin-top: 5px
        padding: 10px
        img
            height: 100px
    .tablas_containers
        display: flex
        justify-content: space-between
        min-height: 400px
        #tablatop_izq, #tablatop_der
            width: 49.8%
            height: auto
    #conteo_estatus, #conteo_estatus_dia
        height: 70px
    #grafica_mayor
        height: 400px

//apartado de conteo por estatus y productividad
#conteo_estatus, #conteo_estatus_dia
    display: flex
    justify-content: space-around
    align-items: center
    text-align: center
    font-size: 80%
    .titulo_estatus
        color: #BAC3D4
    .numeros_conteos
        font-size: 150%

//apartado de tablas inferiores
#tablabot
    font-size: 80%
    table,thead,tr,th,td
        border: 1px solid #3F4658
        
    table
        width: 100%
        backgroun-color: #4B5367
        th 
            color: #BAC3D4
            font-weight: bold
            text-align: center
            padding: 5px
            
        td
            color: white
            text-align: center
            padding: 5px
            white-space: nowrap

        thead th, tbody td
            &:nth-child(2)
                border-bottom: 1px solid #4B5367
                border-right: 1px solid #4B5367
                border-left: 1px solid #4B5367
            &:nth-child(3)
               
                border-bottom: 1px solid #4B5367
                border-right: 1px solid #4B5367
                border-left: 1px solid #4B5367
            &:nth-child(4)
                
                border-bottom: 1px solid #4B5367
                border-right: 1px solid #4B5367
                border-left: 1px solid #4B5367
            &:nth-child(5)
                
                border-bottom: 1px solid #4B5367
                border-right: 1px solid #4B5367
                border-left: 1px solid #4B5367

//moda de detalles con reasignacion
#reasignacion
    display: flex
    flex-direction: column
    button
        border: 1px solid #3F4658
        background-color: #454C5F
        margin-top: 5px
        height: 25px
        width: 100px
        border-radius: 3px
        color: white
        font-size: 80%
        align-self: flex-end
        &:hover
            background-color: #3F4658
            border: none