#asesor_modal_fallasmasivas(style='display:none')
    .container_modal
        .header_modal
            span FALLA MASIVA
            span 
                img.closebuttonn(src="../assets/closebuttonn.png")
        .subheader_modal#subheader_modalfallasmasivas(data-falla="")
            span Falla:&nbsp;
            span#descripcion_fallamasiva  --
                    
        .body_modal#body_fallasmasivas
            
            
                
        .footer_modalmasivas
            button#btn_savemasiva Guardar          