.gridsystem_recargas.body_modal_detalles#body_modal_detallesrecargas(style='display:none')
    .campodetalle_recargas.uno
        p.titulocampo NÚMERO TELEFONICO
        p.valorcampo#detalle_recargas_telefono --
    
    .campodetalle_recargas.class_for_validation
        p.titulocampo NOMBRE DEL USUARIO
        p.valorcampo#detalle_recargas_nombreusuario --

    .campodetalle_recargas.class_for_validation
        p.titulocampo MENSAJE DE ERROR
        p.valorcampo#detalle_recargas_error --

    .campodetalle_recargas.class_for_validation
        p.titulocampo IMPORTE
        p.valorcampo#detalle_recargas_importe --

    .campodetalle_recargas.class_for_validation
        p.titulocampo ESTABLECIMIENTO O MÉTODO DE COMPRA 1
        p.valorcampo#detalle_recargas_metodocompra --

    .campodetalle_recargas.class_for_validation.tres
        p.titulocampo FECHA Y HORA 1
        p.valorcampo#detalle_recargas_fechayhora --

    .campodetalle_recargas.class_for_validation
        p.titulocampo ESTABLECIMIENTO O MÉTODO DE COMPRA 2
        p.valorcampo#detalle_recargas_metodocompra2 --

    .campodetalle_recargas.class_for_validation.tres
        p.titulocampo FECHA Y HORA 2
        p.valorcampo#detalle_recargas_fechayhora2 --

    .campodetalle_recargas.class_for_validation
        p.titulocampo ESTABLECIMIENTO O MÉTODO DE COMPRA 3
        p.valorcampo#detalle_recargas_metodocompra3 --

    .campodetalle_recargas.class_for_validation.tres
        p.titulocampo FECHA Y HORA 3
        p.valorcampo#detalle_recargas_fechayhora3 --

    .campodetalle_recargas.class_for_validation
        p.titulocampo DESCRIPCION DE LA SITUACIÓN
        p.valorcampo#detalle_recargas_descripcion --

    .campodetalle_recargas.class_for_validation
        p.titulocampo NÚMERO DE CONTACTO
        p.valorcampo#detalle_recargas_contacto --