doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='../bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='../styles/noc.css')
        // link(rel="stylesheet", href="../styles/animate.css")
        link(rel="stylesheet", href="../styles/select2.css")
        link(rel="stylesheet", href="../styles/datetimepicker.css")
        link(rel='icon' href='../assets/favicon.ico')
        
        title= "*111 | " + name
    body(data-iduser=iduser)
        

        
        

        header
            .maincontainer
                    #brand
                        #logo
                            img(src="../assets/logo_exp.png", alt="Logotipo Explora Comunicaciones")
                            #brandname
                                p EXPLORA
                                p COMUNICACIONES
                    
                    #userlogout
                        a(href="/logout") 
                            p#asesorname(data-name=name)= name
                            img(src="../assets/logoff.png", alt="")
                            
        #statusbar
            .maincontainer  
                #sectionname
                    p ASESOR NOC *111  
                #seccion_contadores
                    .contador-group(alt="Nuevos")
                        span#conteonoc_nuevos 00
                        p N
                    .contador-group
                        span#conteonoc_enproceso 00
                        p EP
                    .contador-group
                        span#conteonoc_pendientes 00
                        p S
                    .contador-group
                        span#conteonoc_cerrado 00
                        p C/R

        #containermainbody
             .maincontainer
                #menu_lateral
                    #titulo_menu 
                        #countergroup.clickable_filter(data-filter='global' onclick="setMetadataForBigTable('TODAS LAS FALLAS','global')")
                            span Fallas
                            span (
                            span#conteo_global 0
                            span )
                        #checkgroup
                            label Mios
                            input#checkbox_mios(type="checkbox" name="mios" value="show") 
                    #menu_container
                        .menu_item.clickable_filter(data-filter='aclaraciones' onclick="setMetadataForBigTable('ACLARACIONES','aclaraciones')") ACLARACIONES
                            span (
                            span#conteo_aclaraciones 0
                            span )
                        .submenu_item(style="display:none")
                            span.clickable_filter(data-filter='abiertos_aclaraciones' onclick="setMetadataForBigTable('ACLARACIONES - ABIERTOS','abiertos_aclaraciones')") ABIERTOS
                                .circulo_conteo#abiertos_aclaraciones 0 
                            span.clickable_filter(data-filter='nuevos_aclaraciones' onclick="setMetadataForBigTable('ACLARACIONES - NUEVOS','nuevos_aclaraciones')") NUEVOS
                                .circulo_conteo#nuevos_aclaraciones 0 
                            span.clickable_filter(data-filter='enproceso_aclaraciones' onclick="setMetadataForBigTable('ACLARACIONES - EN PROCESO','enproceso_aclaraciones')") EN PROCESO
                                .circulo_conteo#enproceso_aclaraciones 0 
                            span.clickable_filter(data-filter='pendientes_aclaraciones' onclick="setMetadataForBigTable('ACLARACIONES - SOLUCIONADO','pendientes_aclaraciones')") SOLUCIONADO
                                .circulo_conteo#pendientes_aclaraciones 0 
                            span.clickable_filter(data-filter='cerrados_aclaraciones' onclick="setMetadataForBigTable('ACLARACIONES - CERRADOS/RECHAZADOS','cerrados_aclaraciones')") CERRADO / RECHAZADO
                                .circulo_conteo#cerrados_aclaraciones 0 
                        .menu_item.clickable_filter(data-filter='general' onclick="setMetadataForBigTable('AFECTACION GENERAL','general')") AFECTACIÓN GENERAL
                            span (
                            span#conteo_general 0
                            span )
                        .submenu_item(style="display:none")
                            span.clickable_filter(data-filter='abiertos_general' onclick="setMetadataForBigTable('AFECTACIÓN GENERAL - ABIERTOS','abiertos_general')") ABIERTOS
                                .circulo_conteo#abiertos_general 0 
                            span.clickable_filter(data-filter='nuevos_general' onclick="setMetadataForBigTable('AFECTACIÓN GENERAL - NUEVOS','nuevos_general')") NUEVOS
                                .circulo_conteo#nuevos_general 0 
                            span.clickable_filter(data-filter='enproceso_general' onclick="setMetadataForBigTable('AFECTACIÓN GENERAL - EN PROCESO','enproceso_general')") EN PROCESO
                                .circulo_conteo#enproceso_general 0 
                            span.clickable_filter(data-filter='pendientes_general' onclick="setMetadataForBigTable('AFECTACIÓN GENERAL - SOLUCIONADO','pendientes_general')") SOLUCIONADO
                                .circulo_conteo#pendientes_general 0 
                            span.clickable_filter(data-filter='cerrados_general' onclick="setMetadataForBigTable('AFECTACIÓN GENERAL - CERRADOS/RECHAZADOS','cerrados_general')") CERRADO / RECHAZADO
                                .circulo_conteo#cerrados_general 0 
                        .menu_item.clickable_filter(data-filter='servicios' onclick="setMetadataForBigTable('ALTAS/BAJAS DE SERVICIOS','servicios')") ALTAS/BAJAS DE SERVICIOS
                            span (
                            span#conteo_servicios 0
                            span )
                        .submenu_item(style="display:none")
                            span.clickable_filter(data-filter='abiertos_servicios' onclick="setMetadataForBigTable('ALTAS/BAJAS DE SERVICIOS - ABIERTOS','abiertos_servicios')") ABIERTOS
                                .circulo_conteo#abiertos_servicios 0 
                            span.clickable_filter(data-filter='nuevos_servicios' onclick="setMetadataForBigTable('ALTAS/BAJAS DE SERVICIOS - NUEVOS','nuevos_servicios')") NUEVOS
                                .circulo_conteo#nuevos_servicios 0 
                            span.clickable_filter(data-filter='enproceso_servicios' onclick="setMetadataForBigTable('ALTAS/BAJAS DE SERVICIOS - EN PROCESO','enproceso_servicios')") EN PROCESO
                                .circulo_conteo#enproceso_servicios 0 
                            span.clickable_filter(data-filter='pendientes_servicios' onclick="setMetadataForBigTable('ALTAS/BAJAS DE SERVICIOS - SOLUCIONADO','pendientes_servicios')") SOLUCIONADO
                                .circulo_conteo#pendientes_servicios 0 
                            span.clickable_filter(data-filter='cerrados_servicios' onclick="setMetadataForBigTable('ALTAS/BAJAS DE SERVICIOS - CERRADOS/RECHAZADOS','cerrados_servicios')") CERRADO / RECHAZADO
                                .circulo_conteo#cerrados_servicios 0 
                        .menu_item.clickable_filter(data-filter='callback' onclick="setMetadataForBigTable('CALLBACK','callback')") CALLBACK
                            span (
                            span#conteo_callback 0
                            span )
                        .submenu_item(style="display:none")
                            span.clickable_filter(data-filter='abiertos_callback' onclick="setMetadataForBigTable('CALLBACK - ABIERTOS','abiertos_callback')") ABIERTOS
                                .circulo_conteo#abiertos_callback 0 
                            span.clickable_filter(data-filter='nuevos_callback' onclick="setMetadataForBigTable('CALLBACK - NUEVOS','nuevos_callback')") NUEVOS
                                .circulo_conteo#nuevos_callback 0 
                            span.clickable_filter(data-filter='enproceso_callback' onclick="setMetadataForBigTable('CALLBACK - EN PROCESO','enproceso_callback')") EN PROCESO
                                .circulo_conteo#enproceso_callback 0 
                            span.clickable_filter(data-filter='pendientes_callback' onclick="setMetadataForBigTable('CALLBACK - SOLUCIONADO','pendientes_callback')") SOLUCIONADO
                                .circulo_conteo#pendientes_callback 0 
                            span.clickable_filter(data-filter='cerrados_callback' onclick="setMetadataForBigTable('CALLBACK - CERRADOS/RECHAZADOS','cerrados_callback')") CERRADO / RECHAZADO
                                .circulo_conteo#cerrados_callback 0 
                        .menu_item.clickable_filter(data-filter='cobertura' onclick="setMetadataForBigTable('CALIDAD EN EL SERVICIO/COBERTURA','cobertura')") CALIDAD EN EL SERVICIO/COBERTURA
                            span (
                            span#conteo_cobertura 0
                            span )
                        .submenu_item(style="display:none")
                            span.clickable_filter(data-filter='abiertos_cobertura' onclick="setMetadataForBigTable('CALIDAD EN EL SERVICIO/COBERTURA - ABIERTOS','abiertos_cobertura')") ABIERTOS
                                .circulo_conteo#abiertos_cobertura 0 
                            span.clickable_filter(data-filter='nuevos_cobertura' onclick="setMetadataForBigTable('CALIDAD EN EL SERVICIO/COBERTURA - NUEVOS','nuevos_cobertura')") NUEVOS
                                .circulo_conteo#nuevos_cobertura 0 
                            span.clickable_filter(data-filter='enproceso_cobertura' onclick="setMetadataForBigTable('CALIDAD EN EL SERVICIO/COBERTURA - EN PROCESO','enproceso_cobertura')") EN PROCESO
                                .circulo_conteo#enproceso_cobertura 0 
                            span.clickable_filter(data-filter='pendientes_cobertura' onclick="setMetadataForBigTable('CALIDAD EN EL SERVICIO/COBERTURA - SOLUCIONADO','pendientes_cobertura')") SOLUCIONADO
                                .circulo_conteo#pendientes_cobertura 0 
                            span.clickable_filter(data-filter='cerrados_cobertura' onclick="setMetadataForBigTable('CALIDAD EN EL SERVICIO/COBERTURA - CERRADOS/RECHAZADOS','cerrados_cobertura')") CERRADO / RECHAZADO
                                .circulo_conteo#cerrados_cobertura 0 
                        .menu_item.clickable_filter(data-filter='iccid' onclick="setMetadataForBigTable('CAMBIO DE ICCID','iccid')") CAMBIO DE ICCID
                            span (
                            span#conteo_iccid 0
                            span )
                        .submenu_item(style="display:none")
                            span.clickable_filter(data-filter='abiertos_iccid' onclick="setMetadataForBigTable('CAMBIO DE ICCID - ABIERTOS','abiertos_iccid')") ABIERTOS
                                .circulo_conteo#abiertos_iccid 0 
                            span.clickable_filter(data-filter='nuevos_iccid' onclick="setMetadataForBigTable('CAMBIO DE ICCID - NUEVOS','nuevos_iccid')") NUEVOS
                                .circulo_conteo#nuevos_iccid 0 
                            span.clickable_filter(data-filter='enproceso_iccid' onclick="setMetadataForBigTable('CAMBIO DE ICCID - EN PROCESO','enproceso_iccid')") EN PROCESO
                                .circulo_conteo#enproceso_iccid 0 
                            span.clickable_filter(data-filter='pendientes_iccid' onclick="setMetadataForBigTable('CAMBIO DE ICCID - SOLUCIONADO','pendientes_iccid')") SOLUCIONADO
                                .circulo_conteo#pendientes_iccid 0 
                            span.clickable_filter(data-filter='cerrados_iccid' onclick="setMetadataForBigTable('CAMBIO DE ICCID - CERRADOS/RECHAZADOS','cerrados_iccid')") CERRADO / RECHAZADO
                                .circulo_conteo#cerrados_iccid 0 
                        .menu_item.clickable_filter(data-filter='navegacion' onclick="setMetadataForBigTable('FALLA EN NAVEGACIÓN','navegacion')") FALLA EN NAVEGACIÓN
                            span (
                            span#conteo_navegacion 0
                            span )
                        .submenu_item(style="display:none")
                            span.clickable_filter(data-filter='abiertos_navegacion' onclick="setMetadataForBigTable('FALLA EN NAVEGACIÓN - ABIERTOS','abiertos_navegacion')") ABIERTOS
                                .circulo_conteo#abiertos_navegacion 0 
                            span.clickable_filter(data-filter='nuevos_navegacion' onclick="setMetadataForBigTable('FALLA EN NAVEGACIÓN - NUEVOS','nuevos_navegacion')") NUEVOS
                                .circulo_conteo#nuevos_navegacion 0 
                            span.clickable_filter(data-filter='enproceso_navegacion' onclick="setMetadataForBigTable('FALLA EN NAVEGACIÓN - EN PROCESO','enproceso_navegacion')") EN PROCESO
                                .circulo_conteo#enproceso_navegacion 0 
                            span.clickable_filter(data-filter='pendientes_navegacion' onclick="setMetadataForBigTable('FALLA EN NAVEGACIÓN - SOLUCIONADO','pendientes_navegacion')") SOLUCIONADO
                                .circulo_conteo#pendientes_navegacion 0 
                            span.clickable_filter(data-filter='cerrados_navegacion' onclick="setMetadataForBigTable('FALLA EN NAVEGACIÓN - CERRADOS/RECHAZADOS','cerrados_navegacion')") CERRADO / RECHAZADO
                                .circulo_conteo#cerrados_navegacion 0 
                        .menu_item.clickable_filter(data-filter='recargas' onclick="setMetadataForBigTable('FALLA EN RECARGAS','recargas')") FALLA EN RECARGAS
                            span (
                            span#conteo_recargas 0
                            span )
                        .submenu_item(style="display:none")
                            span.clickable_filter(data-filter='abiertos_recargas' onclick="setMetadataForBigTable('FALLA EN RECARGAS - ABIERTOS','abiertos_recargas')") ABIERTOS
                                .circulo_conteo#abiertos_recargas 0 
                            span.clickable_filter(data-filter='nuevos_recargas' onclick="setMetadataForBigTable('FALLA EN RECARGAS - NUEVOS','nuevos_recargas')") NUEVOS
                                .circulo_conteo#nuevos_recargas 0 
                            span.clickable_filter(data-filter='enproceso_recargas' onclick="setMetadataForBigTable('FALLA EN RECARGAS - EN PROCESO','enproceso_recargas')") EN PROCESO
                                .circulo_conteo#enproceso_recargas 0 
                            span.clickable_filter(data-filter='pendientes_recargas' onclick="setMetadataForBigTable('FALLA EN RECARGAS - SOLUCIONADO','pendientes_recargas')") SOLUCIONADO
                                .circulo_conteo#pendientes_recargas 0 
                            span.clickable_filter(data-filter='cerrados_recargas' onclick="setMetadataForBigTable('FALLA EN RECARGAS - CERRADOS/RECHAZADOS','cerrados_recargas')") CERRADO / RECHAZADO
                                .circulo_conteo#cerrados_recargas 0 
                        .menu_item.clickable_filter(data-filter='llamadas' onclick="setMetadataForBigTable('LLAMADAS/SMS','llamadas')") LLAMADAS/SMS
                            span (
                            span#conteo_llamadas 0
                            span )
                        .submenu_item(style="display:none")
                            span.clickable_filter(data-filter='abiertos_llamadas' onclick="setMetadataForBigTable('LLAMADAS/SMS - ABIERTOS','abiertos_llamadas')") ABIERTOS
                                .circulo_conteo#abiertos_llamadas 0 
                            span.clickable_filter(data-filter='nuevos_llamadas' onclick="setMetadataForBigTable('LLAMADAS/SMS - NUEVOS','nuevos_llamadas')") NUEVOS
                                .circulo_conteo#nuevos_llamadas 0 
                            span.clickable_filter(data-filter='enproceso_llamadas' onclick="setMetadataForBigTable('LLAMADAS/SMS - EN PROCESO','enproceso_llamadas')") EN PROCESO
                                .circulo_conteo#enproceso_llamadas 0 
                            span.clickable_filter(data-filter='pendientes_llamadas' onclick="setMetadataForBigTable('LLAMADAS/SMS - SOLUCIONADO','pendientes_llamadas')") SOLUCIONADO
                                .circulo_conteo#pendientes_llamadas 0 
                            span.clickable_filter(data-filter='cerrados_llamadas' onclick="setMetadataForBigTable('LLAMADAS/SMS - CERRADOS/RECHAZADOS','cerrados_llamadas')") CERRADO / RECHAZADO
                                .circulo_conteo#cerrados_llamadas 0 
                        
                        
                        .menu_item.clickable_filter(data-filter='promociones' onclick="setMetadataForBigTable('PROMOCIONES','promociones')") PROMOCIONES
                            span (
                            span#conteo_promociones 0
                            span )
                        .submenu_item(style="display:none")
                            span.clickable_filter(data-filter='abiertos_promociones' onclick="setMetadataForBigTable('PROMOCIONES - ABIERTOS','abiertos_promociones')") ABIERTOS
                                .circulo_conteo#abiertos_promociones 0 
                            span.clickable_filter(data-filter='nuevos_promociones' onclick="setMetadataForBigTable('PROMOCIONES - NUEVOS','nuevos_promociones')") NUEVOS
                                .circulo_conteo#nuevos_promociones 0 
                            span.clickable_filter(data-filter='enproceso_promociones' onclick="setMetadataForBigTable('PROMOCIONES - EN PROCESO','enproceso_promociones')") EN PROCESO
                                .circulo_conteo#enproceso_promociones 0 
                            span.clickable_filter(data-filter='pendientes_promociones' onclick="setMetadataForBigTable('PROMOCIONES - SOLUCIONADO','pendientes_promociones')") SOLUCIONADO
                                .circulo_conteo#pendientes_promociones 0 
                            span.clickable_filter(data-filter='cerrados_promociones' onclick="setMetadataForBigTable('PROMOCIONES - CERRADOS/RECHAZADOS','cerrados_promociones')") CERRADO / RECHAZADO
                                .circulo_conteo#cerrados_promociones 0 

                        //-----------------------------------------
                        //-Ajuste 14/02/2021, se agrega nuevo tipo de falla
                        .menu_item.clickable_filter(data-filter='internetencasa' onclick="setMetadataForBigTable('INTERNET EN CASA','internetencasa')") INTERNET EN CASA
                            span (
                            span#conteo_internetencasa 0
                            span )
                        .submenu_item(style="display:none")
                            span.clickable_filter(data-filter='abiertos_internetencasa' onclick="setMetadataForBigTable('INTERNET EN CASA - ABIERTOS','abiertos_internetencasa')") ABIERTOS
                                .circulo_conteo#abiertos_internetencasa 0 
                            span.clickable_filter(data-filter='nuevos_internetencasa' onclick="setMetadataForBigTable('INTERNET EN CASA - NUEVOS','nuevos_internetencasa')") NUEVOS
                                .circulo_conteo#nuevos_internetencasa 0 
                            span.clickable_filter(data-filter='enproceso_internetencasa' onclick="setMetadataForBigTable('INTERNET EN CASA - EN PROCESO','enproceso_internetencasa')") EN PROCESO
                                .circulo_conteo#enproceso_internetencasa 0 
                            span.clickable_filter(data-filter='pendientes_internetencasa' onclick="setMetadataForBigTable('INTERNET EN CASA - SOLUCIONADO','pendientes_internetencasa')") SOLUCIONADO
                                .circulo_conteo#pendientes_internetencasa 0 
                            span.clickable_filter(data-filter='cerrados_internetencasa' onclick="setMetadataForBigTable('INTERNET EN CASA - CERRADOS/RECHAZADOS','cerrados_internetencasa')") CERRADO / RECHAZADO
                                .circulo_conteo#cerrados_internetencasa 0 

                        //-----------------------------------------




                        .menu_item.clickable_filter(data-filter='cerradosrechazados' onclick="setMetadataForBigTable('CERRADOS/RECHAZADOS','cerradosrechazados')") CERRADOS / RECHAZADOS
                        
                #tabla_principal
                    #tablaheader
                        span
                            span#tiporeporte_header FALLAS
                        input#main_searchbox(type="text" placeholder="BUSCAR...")
                        .container_onlynumber(style="display:none")
                            input#searchbox_onlynumber(type="text" placeholder="BUSCAR NUMERO")
                            button#btn_onlynumber
                                img(src="../assets/buscar.png" style="height: 15px")
                    table
                        thead
                            tr
                                th CREADO
                                th NÚMERO
                                th ULT. SEGUIMIENTO
                                th FALLA
                                th PROPIETARIO
                                th ESTATUS
                                th TIEMPO
                        tbody#tbody_maintable
                            
                            
                            

        include ./modaldetalles/asesor_modal_detallesdecaptura
        
       
            
        #overlay-back       
    
    script(src='../jquery/dist/jquery.min.js')
    script(src='../javascripts/datetimepicker.js')
    script(src='../javascripts/socket.io.js')
    script(src='../javascripts/moment.js')
    script(src='../javascripts/noc_helpers.js')
    script(src='../javascripts/noc_tablas.js')
    //script(src='../javascripts/noc_validacion.js')
    script(src='../javascripts/noc_ajax.js')
    script(src='../javascripts/noc.js')
    script(src='../bootstrap/dist/js/bootstrap.min.js')
    script(src='../javascripts/select2.js')
    script(src='../javascripts/clipboard.min.js')
    
    
    
